{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div class="mb-4 p-2 bg-red-100 text-red-700 border border-red-400 rounded">
            {{ message }}
        </div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" 
        class="login-register-form">
        {% csrf_token %}
        <h2 class="text-2xl font-bold mb-8">Login</h2>

        <div class="mb-4">
            <input autofocus type="text" name="username" placeholder="Username" class="search-input">
        </div>
        <div class="mb-4">
            <input type="password" name="password" placeholder="Password" class="search-input">
        </div>
        <button class="p-2 mt-2 bg-blue-500 w-full rounded" type="submit">Login</button>
        <p class="mt-6 text-gray-600 text-center">
            Don't have an account? 
            <a href="{% url 'register' %}" class="text-blue-500 hover:underline">Register here.</a>
        </p>
    </form>


{% endblock %}
