{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div class="mb-4 p-2 bg-red-100 text-red-700 border border-red-400 rounded">
            {{ message }}
        </div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="login-register-form">
        {% csrf_token %}
        <h2 class="text-2xl font-bold mb-8">Register</h2>

        
        <div class="mb-4">
            <input 
                autofocus 
                type="text" 
                name="username" 
                placeholder="Username"
            >
        </div>
        <div class="mb-4">
            <input 
                type="email" 
                name="email" 
                placeholder="Email Address"
            >
        </div>
        <div class="mb-4">
            <input 
                type="password" 
                name="password" 
                placeholder="Password"
            >
        </div>
        <div class="mb-4">
            <input 
                type="password" 
                name="confirmation" 
                placeholder="Confirm Password"
            >
        </div>
        
        <button class="p-2 bg-blue-500 w-full rounded" type="submit">Register</button>
        <p class="mt-6 text-gray-600 text-center">
            Already have an account? 
            <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Log In here.</a>
        </p>
    </form>


{% endblock %}
