:root {
    --text-color: white;
    --bg-color: black;
    --bg-item: rgb(33, 33, 33);
    --sidebar-bg: rgba(99, 99, 99, 0.4);
    --border-color: #3c3c3c;
}

.light-mode {
    --text-color: black;
    --bg-color: rgb(220, 220, 220);
    --bg-item: white;
    --sidebar-bg: rgba(103, 152, 255, 0.4);
    --border-color: #e7e7e7;
}

html {
    color: var(--text-color);
    background-color: var(--bg-color);
}

input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

input:focus {
    outline: none;
}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    max-height: 74vh;
}

textarea::-webkit-resizer {
    display: none; /* Hide resizer in WebKit browsers */
}

button, .button {
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover, .button:hover {
    opacity: 0.8;
}

button:disabled, .button:disabled {
    opacity: 0.2;
}

#Sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100vh;
    width: 64px;
    top: 0;
    left: 0; 
    z-index: 88 ; 

    background-color: var(--sidebar-bg);
    backdrop-filter: blur(10px);
}

#Navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: var(--sidebar-bg);
    backdrop-filter: blur(10px);
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0; 
    z-index: 88; 
}

#more-nav {
    flex-direction: column;
    padding: 4px; 
    gap: 8px;
    border: 3px solid var(--border-color);
    border-radius: 100px;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    flex: 1;
    overflow-y: auto;
}

/* Scrollbar custom */
.Content::-webkit-scrollbar {
    width: 8px; /* Adjust width */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.Content::-webkit-scrollbar-thumb {
    background: var(--border-color);
}

.Content::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: white;
}

.item {
    border-radius: 8px;
    border: 4px solid var(--border-color);
}

.posts {
    width: 600px;
    border-radius: 8px;
    background-color: var(--bg-item);
}

.post {
    padding: 20px 30px;
    padding-bottom: 16px;
    border-bottom: 4px solid var(--border-color);
    cursor: pointer;
}

.post-detail {
    padding: 20px 30px;
}

.post-detail .comment-form {
    margin: -20px -30px;
    margin-top: 20px;
    border-top: 2px solid var(--border-color);
}

.post:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* .post:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */

.search-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.search-item:hover {
    background-color: var(--border-color);
}

.newPost-form, .overlay-content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--bg-item);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    min-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    opacity: 0;
    transform: translate(-50%, 0%);
    visibility: hidden;
    pointer-events: none;
    
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.newPost-form.active {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    pointer-events: auto;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.newPost-form button {
    align-self: flex-end;
    padding: 6px 10px;
}

.newPost-btn {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 100px;
    width: 64px;
    height: 64px;
    bottom: 24px;
    right: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 99;
}

.newPost-btn:hover {
    background-color: rgb(40, 40, 40);
}

.login-register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sidebar-bg);
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 1px solid var(--border-color);
}

.login-register-form input {
    padding: 0.6rem;
    border-radius: 0.3rem;
    outline: none; 
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

/* Background overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(2px); /* Blurs the background */
    z-index: 99; /* Ensure it’s above other elements */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* Show overlay when active */
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    width: 680px;
    transform: translate(-50%, -50%);
    border-width: 6px;
    padding: 24px;
    padding-bottom: 16px;
    z-index: 999; /* Ensure it’s above other elements */
    border: none;
}

.overlay-content.active {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
    pointer-events: auto;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.comments {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 12px;
}

.comment {
    margin-left: 16px;
    padding-top: 10px;
    padding-left: 12px;
    border-left: 2px solid var(--border-color);
    border-bottom-left-radius: 8px;
}

.comment-form {
    display: flex;
    gap: 8px;
    align-items: end;
    padding: 10px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -16px;
    border-top: 2px solid var(--border-color);
}

.comment-form textarea {
    padding-left: 6px;
    padding-bottom: 6px;
}

.follow-container {
    width: 300px;
    padding: 12px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    z-index: 999;
    display: none;
}

.follow-container.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-item);

    display: block;
}

.hover-effect {
    opacity: .5;
}

.hover-effect.active {
    opacity: 1;
}


.hover-effect:hover {
    opacity: 1;
}

#load-more-btn {
    background-color: greenyellow;
}