
<div class="posts" id="posts"></div>

<button id="more-post" class="gap-2 items-center px-4 py-1 mt-4 hover-effect border-none hidden">
    <h1>More posts</h1>
    <img class="h-4 w-4" src="../../static/icons/arrow-down.svg" alt="More">
</button>


<script>
    const user = {
        id: "{{ user.id }}",
        username: "{{ user.username }}",
        isAuthenticated: "{% if user.is_authenticated %}true{% else %}false{% endif %}"
    };

    function getCSRFToken() {
        return document.cookie.split('; ')
        .find(row => row.startsWith('csrftoken='))
        ?.split('=')[1];
    }
    const CSRF_TOKEN = getCSRFToken();
    console.log(CSRF_TOKEN);


    let counter = 0;
    const quantity = 10;

    document.addEventListener("DOMContentLoaded", loadPosts);
    const morePostButton = document.getElementById("more-post");
    morePostButton.addEventListener('click', loadPosts);

    if (morePostButton) {
        const content = document.getElementById("content");
        content.addEventListener("scroll", function () {
            const scrollTop = content.scrollTop;
            const scrollHeight = content.scrollHeight;
            const clientHeight = content.clientHeight;

            if (scrollTop >= scrollHeight / 2 - clientHeight / 2) {
                morePostButton.click();
            }
        });
    }

    function loadPosts() {
        // Set start and end post number
        const start = counter;
        const end = start + quantity;
        counter = end;

        fetch(`/posts?start=${start}&end=${end}`)
        .then(response => response.json())
        .then(data => {
            if (data.posts.length === 0) {
                morePostButton.style.display = "none";
            } else {
                data.posts.forEach(add_post);
            }
        })
        .catch(error => console.error("Error loading posts:", error));
    }

    function toggleLike(postId) {
        console.log(`toggle like post-${postId}`)
        fetch(`/like/${postId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': CSRF_TOKEN
            },
            body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            console.log("Like toggled:", data);
            // Update UI accordingly
        })
        .catch(error => console.error("Error toggling like:", error));
    }

    function add_post(postData) {
        const post = document.createElement("div");
        post.classList.add("post");
        post.id = `post-${postData.id}`;

        post.innerHTML = `
            <div class="flex justify-between">
                <div class="flex gap-2 items-center">
                    <a href="/profile/${postData.userId}" onclick="event.stopPropagation()" class="post-username font-bold text-blue-400 hover:underline italic">@${postData.user}</a>
                    <h3 class="post-time text-sm text-gray-500 italic">${postData.time_ago}</h3>
                </div>
                <div class="flex items-center gap-2">
                    ${user.id === postData.userId ? `
                        <a id="dots-button" class="opacity-60 hover:opacity-100 cursor-pointer">
                            <img class="h-4" src="../../static/icons/dots.svg" alt="Edit">
                        </a>
                        <div id="delete-edit-buttons" class="flex gap-4" style="display: none;">
                            <button class="opacity-60 hover:opacity-100 border-none" onclick="event.stopPropagation(); deletePost(${postData.id})">
                                <img class="h-5 w-5" src="../../static/icons/delete.svg" alt="Delete">
                            </button>
                            <button id="edit-button" class="opacity-60 hover:opacity-100 border-none" onclick="event.stopPropagation(); editPost(${postData.id})">
                                <img class="h-5 w-5" src="../../static/icons/edit.svg" alt="Edit">
                            </button>
                        </div>
                    ` : ""}
                </div>
            </div>
            
            <h1 id="post-content" class="post-content mt-2">${postData.content}</h1>

            <div class="comments">
                ${postData.comments.map(comment => `
                    <div class="comment">
                        <div class="flex items-center gap-1">
                            <a href="/profile/${comment.user.id}" onclick="event.stopPropagation()" class="comment-username text-blue-400 hover:underline italic">@${comment.user.username}</a>
                            <h3 class="comment-time text-sm text-gray-500 italic">${comment.time_ago}</h3>
                        </div>
                        <h1 class="comment-content ml-3">${comment.content}</h1>
                    </div>
                `).join('')}
            </div>

            <div id="post-buttons-container" class="flex gap-4 items-center justify-between mt-4">
                <form class="like-form flex items-center" onsubmit="event.preventDefault(); toggleLike(${postData.id});">
                    
                    {% if user.is_authenticated %}
                        <button class="cursor-pointer flex items-center p-0 border-none">
                            ${postData.is_liked_by_user ? 
                                `<img class="h-6 w-6" src="../../static/icons/hearted.svg" alt="Unlike">` :
                                `<img class="opacity-60 hover:opacity-100 h-6 w-6" src="../../static/icons/heart.svg" alt="Like">`
                            }
                        </button>
                    {% else %}
                        <button class="cursor-not-allowed opacity-50 flex items-center p-0 border-none" type="button" onclick="alert('You must be logged in to like posts!')">
                            <img class="opacity-50 h-6 w-6 self-start" src="../../static/icons/heart.svg" alt="Like">
                        </button>
                    {% endif %}

                    ${postData.likers.length ? `<span class="text-sm ml-1 opacity-40">${postData.likers.length}</span>` : ""}

                    <span class="w-[400px] text-gray-400 ml-3 mr-4 overflow-hidden text-ellipsis whitespace-nowrap block">
                        ${postData.likers.map(liker => `<a href="/profile/${liker.id}" class="text-blue-400 hover:underline italic">@${liker.username}</a>`).join(', ')}
                    </span>
                </form>

                <div class="flex">
                    <button class="mr-3 opacity-60 hover:opacity-100 cursor-pointer flex items-center border-none" onclick="event.stopPropagation(); alert('Share!');">
                        <img class="h-5 w-5" src="../../static/icons/share.svg" alt="Share">
                    </button>

                    {% if user.is_authenticated %}
                        <button id="comment-button" class="comment-button opacity-60 hover:opacity-100 cursor-pointer flex items-center border-none">
                            <img class="h-5 w-5" src="../../static/icons/comment.svg" alt="Comment">
                            ${postData.comments.length ? `<span class="text-sm ml-1">${postData.comments.length}</span>` : ""}
                        </button>
                    {% else %}
                        <button class="cursor-not-allowed opacity-40 flex items-center p-0 border-none " type="button" onclick="alert('You must be logged in to comment!')">
                            <img class="h-5 w-5" src="../../static/icons/comment.svg" alt="Comment">
                        </button>
                    {% endif %}
                </div>
            </div>

            <form id="comment-form" class="comment-form" style="display: none;" onsubmit="event.preventDefault(); addComment(${postData.id});">
                
                <textarea rows="1" id="comment-area" class="comment-area" placeholder="@${postData.user}'s making comment..." name="content" required></textarea>
                <button class="py-1 px-2 mb-[2px]" type="submit">Post</button>
            </form>
        `;

        document.getElementById("posts").appendChild(post);
    }

</script>

    